# Android Studio
/.idea/modules/app/Kanji_Memorized.app.iml
/.idea/AndroidProjectSystem.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/modules/Kanji_Memorized.iml
/.idea/modules.xml
/.idea/caches
/.idea/workspace.xml
/.idea/assetWizardSettings.xml

# Gradle & Build Files
.gradle
/build/
/app/build/

# Local Configuration
local.properties

# Release Files
/app/release

# Misc
google-services.json
kanji.py
kanjimeaningcrossref.py