# Android Studio
/.idea/modules/app/Kanji_Memorized.app.iml
/.idea/caches
/.idea/workspace.xml
/.idea/assetWizardSettings.xml

# Gradle & Build Files
.gradle
/build/
/app/build/

# Local Configuration
local.properties

google-services.json
kanji.py
kanjimeaningcrossref.py